[Desktop Entry]
Version=1.0
Name=Reading App Builder
Comment=Build customized Reading apps for Android smartphones and tablets
Exec=reading-app-builder %u
Icon=reading-app-builder
Terminal=false
Type=Application
Categories=Development;
X-Desktop-File-Install-Version=0.21
StartupWMClass=org-sil-app-builder-reading-ReadingAppBuilder
